#root {
  max-width: 1280px;
  margin: 2rem auto 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  background-color: #a4d0b3;
}
.box {
  background-color: #c7d3bd;
  border: .1rem solid #98c0a5;
  border-radius: .4rem;
  box-shadow: .3rem .3rem .3rem #98c0a5;
  padding: 2rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #8fb19a;
  display: grid;
  grid-template-columns: .5fr 1.5fr 1fr;
}
.navbar img {
  height: 4rem;
}
.navbar button {
  width: 7rem;
  height: 3rem;
  border: none;
  border-radius: .5rem;
  background-color:#a8ceb4;
  font-size: 1.5rem;
  color: seashell;
  box-shadow: .2rem .2rem .2rem grey;
  cursor: pointer;
}

.Home {
  display: grid;
  grid-template-rows: [row1-start] 50% [row2-start] 50% [row2-end];
}
.Home h1 {
  font-size: 4rem;
}
.Home img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 90%;
}
.Home button{
  border-radius: .5rem;
  border: none;
  font-size: 2rem;
  color: white;
  height: 5rem;
  width: 10rem;
  background-color: steelblue;
  cursor: pointer;
}

.SignUp input {
  border-color: #b8acac;
  border-radius: .3rem;
}

.card {
  background-color: #cfe0d5;
  width: 15rem;
  border: .1rem solid #a1c4ad;
  border-radius: .5rem;
  box-shadow: .2rem .2rem .2rem #a1c4ad;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}
label[for="file-upload"] {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}